#sidenav-main .ps{
    overflow: visible !important;
    max-height: none !important;
}

#sidenav-main .ps__rail-y,
#sidenav-main .ps__rail-x,
#sidenav-main .ps__thumb-y,
#sidenav-main .ps__thumb-x {
  display: none !important;
}

#filter-btn .fa{
    font-size: 1.0rem !important;
    line-height: 1 !important;
}

.tutor-grid-container{
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2rem 0 1rem 0;
    padding: 1rem;

}

.tutor_grid{
    width: 100%;
    display : grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
    align-items: stretch;
}

.tutor-card{
    height: 100%;
    display : flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
    
}

.tutor-card .card-body{
    flex-grow: 1;
    overflow-y: auto;
}


#tutor_grid > .col-lg-4,
#tutor_grid > .col-md-6,
#tutor_grid > .col-12 {
    display: flex;
}

.tutor-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tutor-img {
    width: 190px;
    height: 190px;
    border-radius: 5%;
    object-fit: cover;
}

.card-image{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

.icon-btn{
    all: unset;
    cursor: pointer;

}


@media (min-width: 768px) {
    .tutor_grid{
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}
