#sidenav-main .ps{
    overflow: visible !important;
    max-height: none !important;
}

#sidenav-main .ps__rail-y,
#sidenav-main .ps__rail-x,
#sidenav-main .ps__thumb-y,
#sidenav-main .ps__thumb-x {
  display: none !important;
}

#filter-btn .fa{
    font-size: 1.0rem !important;
    line-height: 1 !important;
}

.tutor-grid-container{
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2rem 0 1rem 0;
    padding: 1rem;

}

.request-container{
    margin: 2rem 0 1rem 0;
}

.request_card{
    margin-bottom: 1rem;
}

#request_grid{
    padding: 1rem;
}

.tutor_grid{
    width: 100%;
    display : grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
    align-items: stretch;
}

.tutor-card{
    height: 100%;
    width: 100%;
    display : flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
    
}

.tutor-card .card-body{
    flex-grow: 1;
    overflow-y: auto;
}

#pending-requests-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
}

.tutor-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tutor-img {
    width: 190px;
    height: 190px;
    border-radius: 5%;
    object-fit: cover;
}

.card-image{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

.icon-btn{
    all: unset;
    cursor: pointer;

}



.request-row.card {
    border: 1px solid #aaaeb2;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 1rem;
    transition: transform 0.2s, border-color 0.2s;
}

.request-row.card:hover {
    transform: translateY(-2px);
}

.suggested-tutors {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; 
}

.tutor-select-btn {
    flex: 1 1 auto;
    min-width: 120px;
    text-align: center;
}

.tutor-select-btn.active {
    color: white;
}

.operation-btns {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.75rem;
}

.confirm-btn {
    min-width: 100px;
}

.confirm-btn:hover, .cancel-btn:hover{
    transform: translateY(-2px);
}

.cancel-btn {
    min-width: 100px;
}


.request-content h5 {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

.request-content p {
    font-size: 0.95rem;
    color: #555;
}


@media (min-width: 768px) {
    .tutor_grid{
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}
